{% load static %}

<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Gry Retro</title>
	<meta name="description" content="Serwis o starych grach" />
	<meta name="keywords" content="gry, komputerowe, tworzenie, programista, stare, nintendo, klasyki" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	<script src="{% static 'js/jquery.js' %}"></script>
		
</head>

<body>
	
	<div class="wrapper">
		<div class="header">
			<div class="logo">
			<img src="{% static 'img/pad.png' %}" style="float: left;"/>
			<span style="color: #1E90FF;"> Modern</span>Lib</div>
			<div style="clear:both;"></div>
		</div>
		<div class="nav">
		<ol>
			<li><a href="#">Strona Głowna</a></li>
			<li><a href="#">Regulamin</a></li>
			<li><a href="#">Kategorie</a>
				<ul>
				<li><a href="#">Sportowe</a></li>
				<li><a href="#">Historyczne</a></li>
				<li><a href="#">Przygodowe</a></li>
				<li><a href="#">Naukowe</a></li>
				<li><a href="#">Fantastyka</a></li>
				</ul>
			</li>
			<li><a href="#">Kontakt</a></li>
			<li><a href="/admin">Panel admina</a></li>
		</ol>
		
		</div>
		<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis sem feugiat ante tempus lobortis at vel velit. Nulla facilisi. Sed semper gravida dui, vitae egestas mi porttitor sit amet. Proin cursus nibh vitae ullamcorper eleifend. Ut ultricies sed dui et tincidunt. Donec rutrum dictum augue nec vehicula. Nullam nec ligula sed felis finibus ullamcorper eu quis urna. In condimentum porta ante. Ut non faucibus libero. Vestibulum viverra diam eu elementum sodales. Mauris sodales massa a metus malesuada accumsan. Integer lacinia, sem vel viverra mattis, eros orci porttitor magna, id tempor purus urna in est. Phasellus fermentum mauris quam, in imperdiet ante viverra ac.</p>

		<p>Curabitur auctor lacus ac turpis ornare dictum. Etiam ultricies mauris non est commodo, ac vulputate turpis mollis. Integer sollicitudin eget metus sit amet feugiat. Sed vitae eros at nisl posuere cursus a sollicitudin eros. Duis luctus nibh at lacus ullamcorper, ac tempus justo mattis. Morbi lacinia pharetra nibh vulputate efficitur. Vestibulum hendrerit ullamcorper justo, ac mollis nulla. Integer tristique ex sed malesuada egestas. Nulla mattis eros sed magna imperdiet cursus. Aenean dictum sem eu lobortis varius. Nullam porttitor facilisis nulla, ut scelerisque leo interdum a. Vivamus bibendum porttitor luctus. Sed porttitor consectetur lacinia. Praesent mattis eros ut nisi blandit, at tempus nibh viverra. Nunc finibus dui quis leo auctor, sit amet cursus risus vulputate. Integer ornare, ex quis condimentum pharetra, tellus turpis egestas arcu, ut lobortis eros felis in felis.</p>

		<p>Donec consequat felis elit, ac auctor augue tincidunt non. Integer non ullamcorper nibh, ut scelerisque odio. Donec egestas efficitur lacinia. Nullam fringilla lectus fermentum nulla pulvinar, id laoreet mauris suscipit. Etiam est metus, volutpat quis ipsum fringilla, tempor facilisis mauris. Nulla non aliquam urna. Ut vehicula massa a lorem iaculis sollicitudin. Ut semper porta dolor vitae finibus. Donec blandit et nunc eu maximus. Curabitur elementum massa a rutrum vestibulum. Vivamus sed nibh vel odio molestie pretium. Quisque metus libero, euismod rhoncus risus viverra, elementum tempus eros. Nam vitae dolor a orci cursus mattis. Maecenas lorem purus, feugiat ut pretium eget, efficitur at justo. In hac habitasse platea dictumst. Phasellus non feugiat sem.</p>

		<p>Pellentesque vel rhoncus tortor, et cursus ante. Integer eget diam quis eros consectetur consectetur ut at diam. In sed nibh non magna ultrices vestibulum at eget felis. Cras elit metus, laoreet vel sollicitudin in, faucibus vitae augue. Etiam sagittis dolor porttitor mauris ornare aliquet. Pellentesque at semper lorem, a rhoncus nisi. Vivamus lacinia felis interdum, auctor orci a, posuere dui. Vivamus risus felis, malesuada et maximus in, ultricies vitae felis. Integer ut viverra ipsum. Aliquam facilisis auctor leo, tempus tristique ex congue quis. Praesent placerat sapien at tristique iaculis. Vestibulum ullamcorper rhoncus justo, vel efficitur turpis posuere at. Maecenas pellentesque augue nulla, et dapibus nibh euismod none.</p>

		<p>Mauris dictum tristique purus. Aenean in eleifend est, at convallis ipsum. Mauris in egestas massa. Phasellus quis nulla malesuada, lobortis tellus a, lacinia augue. Pellentesque vestibulum massa purus, vel faucibus tortor gravida in. Nullam ultrices volutpat consequat. Aenean luctus turpis ut tortor volutpat faucibus. Sed sagittis turpis tortor, a pellentesque nibh suscipit suscipit. Sed dapibus finibus est, eu imperdiet dolor semper in.</p>
		</div>
		<div class="socials">
			<div class="socialsdivs">
				<a href="https://www.youtube.com/channel/UCBtcDVIL99VjfPOOCM_Tb6Q" target="_blank" class="sociallink">
					<div class="yt"><i class="icon-youtube"></i></div> </a>
				<a href="https://www.facebook.com/emil.dworniczak" target="_blank" class="sociallink">
					<div class="fb"><i class="icon-facebook"></i></div> </a>
				<a href="https://www.linkedin.com/in/edworniczak" target="_blank" class="sociallink">	
					<div class="linkedin"><i class="icon-linkedin"></i></div></a>
				<a href="https://twitter.com/iEmix" target="_blank" class="sociallink">
					<div class="tw"><i class="icon-twitter"></i></div></a>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="footer">RetroGranie &copy; 2019 Emil Dworniczak ;) </div>
		
		
		
{% block scripts %}
<script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;
	 
	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();
		  
	if (ScrollY > NavY) { 
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky'); 
	}
	};
	 
	stickyNav();
	 
	$(window).scroll(function() {
		stickyNav();
	});
	});
	
</script>
{% endblock %}
	
	</div>
	
</body>
</html>