{% load static %}

<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ModernLib - Nowoczesna biblioteka</title>
	<meta name="description" content="Serwis ModernLib jest to projekt na zaliczenie przedmiotu projekt przejsciowy" />
	<meta name="author" content="Emil Dworniczak">
	<meta name="keywords" content="zaliczenie, projekt przejsciowy, modern, modernlib, biblioteka, nowoczesna, biblioteka, nowoczesna biblioteka, django, crud, ahe, Emil Dworniczak" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	<script src="{% static 'js/jquery.js' %}"></script>
		
</head>

<body>
	
	<div class="wrapper">
		<div class="header">
			<div class="logo">
			<img src="{% static 'img/pad.png' %}" style="float: left;"/>
			<span style="color: #1E90FF;"> Modern</span>Lib</div>
			<div style="clear:both;"></div>
		</div>
		<div class="nav">
		<ol>
			<li><a href="/">Strona Głowna</a></li>
			<li><a href="#">Regulamin</a></li>
			<li><a href="#">Kategorie</a>
				<ul>
				<li><a href="/sportowe">Sportowe</a></li>
				<li><a href="/historyczne">Historyczne</a></li>
				<li><a href="/przygodowe">Przygodowe</a></li>
				<li><a href="/naukowe">Naukowe</a></li>
				<li><a href="/fantasty">Fantastyka</a></li>
				<li><a href="/inne">Inne</a></li>
				</ul>
			</li>
			<li><a href="/kontakt">Kontakt</a></li>
			<li><a href="/komentarze">Komentarze</a></li>
			<li><a href="/admin/base">Panel admina</a></li>
		</ol>
		
		</div>
		<div class="content">
		<h2>Regulamin <span style="color: #1E90FF;"> Modern</span>Lib.</h2>
		<h4>I.PRZEPISY OGÓLNE</h4>
		<p>1.Zbiory Nowoczesnej Biblioteki są udostępniane wszystkim 
		zainteresowanym, posiadającym kartę biblioteczną.</br>
		2.Zbiory wypożyczane są do domu lub udostępniane na miejscu
		w czytelni.</br>
		3.Biblioteka oferuje dodatkowo usługi kserograficzne oraz 
		dostęp do Internetu. Usługi te są płatne.</br>
		4.Biblioteka pobiera opłaty za przetrzymanie zbiorów, 
		a także ich zniszczenie lub zagubienie.</p>
		<h4>II.PROCEDURA ZAPISU</h4>
		<p>1.Przy zapisie do biblioteki należy zapoznać się z niniejszym
		Regulaminem.</br>
		2.Następnie należy okazać dowód tożsamości.</br>
		3.Kolejno wypełniamy kartę zobowiązania i podpisujemy ją.</br>
		4.Czytelnik otrzymuje własną kartę biblioteczną.</br>
		5.Czytelnika niepełnoletniego do biblioteki zapisuje rodzic
		lub opiekun prawny.</p>
		<h4>III.WARUNKI WYPOŻYCZENIA</h4>
		<p>1.Przed wypożyczeniem Czytelnik okazuje kartę biblioteczną.</br>
		2.Czytelnik może jednorazowo wypożyczyć do 7 książek.</br>
		3.Czas wypożyczenia określony jest na 1 miesiąc.</br>
		4.Możliwe jest przedłużenie powyższego terminu.</p>
		<h4>IV.PRZEPISY KOŃCOWE</h4>
		<p>1.W bibliotece obowiązuje zakaz palenia tytoniu, picia alkoholu
		oraz korzystania z telefonów komórkowych.</br>
		2.Biblioteka nie ponosi odpowiedzialności za rzeczy pozostawione
		bez nadzoru.</br>
		3.Możliwe zmiany w Regulaminie będą sygnalizowane.
		</p>
		</div>
		<div class="socials">
			<div class="socialsdivs">
				<a href="https://www.youtube.com/channel/UCBtcDVIL99VjfPOOCM_Tb6Q" target="_blank" class="sociallink">
					<div class="yt"><i class="icon-youtube"></i></div> </a>
				<a href="https://www.facebook.com/emil.dworniczak" target="_blank" class="sociallink">
					<div class="fb"><i class="icon-facebook"></i></div> </a>
				<a href="https://www.linkedin.com/in/edworniczak" target="_blank" class="sociallink">	
					<div class="linkedin"><i class="icon-linkedin"></i></div></a>
				<a href="https://twitter.com/iEmix" target="_blank" class="sociallink">
					<div class="tw"><i class="icon-twitter"></i></div></a>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="footer">ModernLib &copy; 2019 Emil Dworniczak & Łukasz Gradowski ;) </div>
		
		
		
{% block scripts %}
<script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;
	 
	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();
		  
	if (ScrollY > NavY) { 
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky'); 
	}
	};
	 
	stickyNav();
	 
	$(window).scroll(function() {
		stickyNav();
	});
	});
	
</script>
{% endblock %}
	
	</div>
	
</body>
</html>